/Termius
/Thunar
/btop
/composer
/create-next-app-nodejs
/dconf
/gh
/ghostty
/google-chrome
/gtk-3.0
/gtk-4.0
/herd-lite
/kitty
/neofetch
/nextjs-nodejs
/obsidian
/pulse
/systemd
/xfce4
/yay
EOS-greeter.conf
avatar.png
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
